/*@dark_red = #760000;*/

.shadow {
  /*box-shadow: 3px 3px 4px #000033;*/
  box-shadow: 4px 3px 5px #222222;
}

#logo-top {
  height: 61px;
  background-color: #082E66;
}
.name-box {
  background-image: url('../images/john_logo.png');
  /*background-color: #0088cc;*/
  width: 11%;
  height: 100%;
}

.color-bar {
  height: 3px;
  background-image: url('../images/color_bar.png');
}

#wrapper {
  /*width : 820px;*/
  /*background : #fff url(images/wrapper.jpg) repeat-y; /* CHANGED/ADDED THIS */
  border : 1px solid #000033;
  margin : 20px auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
#middle-wrapper{
  width: 100%;
  height: 700px;
  display: block;
}

a {
  color: #ffffff;
}


/*Override Nav Pills*/
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}

/*.nav > li > a:hover {
  text-decoration: none;
  background-color: #760000;
}*/

.nav-pills {
  margin-bottom: 0px;
}


div#header {
  display: block;
  margin-bottom: 0;
  padding: 0;
}

div#content {
  width: 50%;
  float: left;
  display: inline;
}

/*span#homepage-name {
  font-size: 30px;
  line-height: 40px;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
}*/

h2 {
  /*text-align: right;*/
  margin-right: 2%;
  margin-left: 2%;
/*  font-size: 30px;
  line-height: 40px;
  font-family: serif;
  font-weight: bold;
  color: inherit;*/
}

div#content p {
  margin-left: 2%;
  margin-right: 6%;
  font-family: serif;
}

div#nav-menu {
  background-color: #888888;
  margin-left: auto;
  margin-right: auto;
  display : block;
  width: 100%;
  margin-bottom: 0px;
  padding: 0;
}

ul#nav-link{
  padding : 5px 0;
  height : 1.4em;
  width : 820px;

}

ul#nav-links li {
  width: 20%;
  color: #eeeeee;
}

ul#nav-links li a{
  text-align: center;
}