#wrapper {
  width : 820px;
  /*background : #fff url(images/wrapper.jpg) repeat-y; /* CHANGED/ADDED THIS */
  border : 1px solid #000033;
  margin : 20px auto;
}


div#nav-menu {
  margin-left: auto;
  margin-right: auto;
  display : block;
  width : 820px;
}

ul#nav-links {
  padding : 5px 0;
  height : 1.4em;
  width : 820px;

}

ul#nav-links li {
  display : inline;
  margin: 4.5%;
/*  float : left;
  padding : 0 10px;
  margin : 0 5px;
*/
}